project/boot
project/plugins/project
project/plugins/target
project/project
project/target
target
.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.jar
*.crc
_SUCCESS
tmp
.idea
.idea_modules
/play.bat
*.sublime-workspace
*.pyc
.project
.classpath
.cache
.settings
.history
.DS_Store
*.iml
*.swp
*.swo
*.sc
*.log
*nohup*
